.counter-container{
    background-color:antiquewhite;
    display:flex;
    flex-direction:column;
    gap: 15px;
    padding: 1.5rem;
    border: 1.5rem;
    border: 2px solid black;
    border-radius:4px;
}